<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FZillaPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FZillaPatcher.Properties.Settings>
            <setting name="app_def_version" serializeAs="String">
                <value>3.66.4</value>
            </setting>
            <setting name="app_url_github" serializeAs="String">
                <value>https://github.com/Aetherinox/FZillaPatcher</value>
            </setting>
            <setting name="app_url_tpb" serializeAs="String">
                <value>https://thepiratebay.org/search.php?q=user:Aetherinox</value>
            </setting>
            <setting name="app_filezilla_exe" serializeAs="String">
                <value>filezilla.exe</value>
            </setting>
            <setting name="app_dev_piv_thumbprint" serializeAs="String">
                <value>58a1539d6988d76f44bae27c27ed5645d3b1222a</value>
            </setting>
            <setting name="app_dev_gpg_keyid" serializeAs="String">
                <value>CB5C4C30CD0D4028</value>
            </setting>
            <setting name="app_url_manifest" serializeAs="String">
                <value>https://raw.githubusercontent.com/Aetherinox/FZillaPatcher/master/Manifest/manifest.json</value>
            </setting>
            <setting name="app_res_file_dmp_original" serializeAs="String">
                <value>hex_original.dmp</value>
            </setting>
            <setting name="app_res_file_dmp_patched" serializeAs="String">
                <value>hex_patched.dmp</value>
            </setting>
            <setting name="app_argid_debug" serializeAs="String">
                <value>--debug</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>FileZilla Pro</value>
            </setting>
            <setting name="app_debug_clicks_activate" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="app_target_exe" serializeAs="String">
                <value>filezilla.exe</value>
            </setting>
            <setting name="app_exe_wget" serializeAs="String">
                <value>wget.exe</value>
            </setting>
            <setting name="app_exe_update_live" serializeAs="String">
                <value>filezilla_update_live.exe</value>
            </setting>
            <setting name="app_exe_update_demo" serializeAs="String">
                <value>filezilla_update_demo.exe</value>
            </setting>
            <setting name="app_file_sha_x64" serializeAs="String">
                <value>2DF44591E2738FBB360297B12DF8D626416BA8B731FA213DB999CF4FAFC8A96A</value>
            </setting>
            <setting name="app_file_sha_x86" serializeAs="String">
                <value>FD8536B3EC7049BE3012BCEF81145C5A1AFC3882AB949CDD20D2BDC50B2351F2</value>
            </setting>
        </FZillaPatcher.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
</configuration>
